body {
    margin: 0;
    padding: 0;
    appearance: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.container {
    width: 40rem;
}

.autocomplete {
    width: 100%;
    position: relative;
}

i {

    color: rgb(157, 157, 157);
    font-size: 22px;
    z-index: 2;
}

.container h1 {
    font-size: 30px;
    color: white;
    margin-top: 7rem;
    text-align: center;
    margin-bottom: 2rem;
}

.autocomplete input {
    min-width: 100%;
    height: 60px;
    border: 4px solid #c9f5ff;
    padding: 10px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
}

.autocomplete input::after {
    content: '\f002';
    position: absolute;
    right: 0;
}

.autocomplete input:focus {
    outline: none;
}

.results {
    display: none;
    width: 100%;
    background: white;
    max-height: 200px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.results ul {
    padding: 0;
}

.results li {
    list-style: none;
    padding-left: 1rem;
    line-height: 50px;
}

.results li:hover {
    background: #c9f5ff;
}

#results::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

#results::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Rounded corners */
}

#results::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* Color of the scrollbar track */
}

.nodata {
    padding-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 9;
    right: 1rem;
    top: 15px;
}